<div id="alerts" class="alerts">
  <h2> Watchlist Alerts </h2>
  <%= render partial: "alerts_list", object: @alerts %>
  <h2> Errors Alerts </h2>
  <%= render partial: "alerts_list", object: @alerts_errors %>
</div>
