<div id="alerts" class="alerts">
  <% if @alerts.present? %>
    <% @alerts.each do |alert| %>
      <p class="box"><%= alert %></p>
    <% end %>
  <% else %>
    <p>You have no alerts</p>
  <% end %>
</div>
